/* CSS variables */
:root {
    --padding: 2rem;
}
@media (max-width: 570px) {
    :root {
        --padding: 0.5rem;
    }
}

/* General rules */
* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
html {
    font-family: 'Roboto Slab', serif;
}
body {
    max-width: 800px;
    margin: 0 auto;
    background-image: url("./assets/geometry.png");  
}
#root {
    background-color: whitesmoke;
}
main {
    padding: 0 var(--padding);
    flex-grow: 1;
}
input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 0.95rem;
    padding: 0.2rem;
}
p {
    margin: 0.3rem 0;
}
h2 {
    border-bottom: 2px solid gray;
    margin-bottom: 0.5rem;
}
.spacing-sm {
    letter-spacing: -0.02em;
}
/* App.js */
#flex-parent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    box-shadow: 0 3px 3px #3a259d;
    border-radius: 5px;
    padding: 0 var(--padding);
}
header h1 {
    color: #3a259d;
    font-size: 2.4rem;
    margin: 0rem;
    padding: 0.2rem;
    letter-spacing: normal;
}
@media (max-width: 420px) {
    header h1 {
        font-size: 2rem;
    }
}
header svg {
    margin-right: 1rem;
}
.btn-lang {
    align-self: center;
    margin-left: auto;
    display: flex;
    border: none;
    background-color: whitesmoke;
    padding: 4px;
}
.btn-lang:hover {
    cursor: pointer;
}
.btn-lang:active {
    transform: scale(1.2);
}
.flag-img {
    width: 25px;
    margin-left: 2px;
  }
.section {
    margin-bottom: 0.5rem;
    border-bottom: 3px dotted black;
    padding-bottom: 0.5rem;
}
input[type="date"] {
    padding: 5px;
}
.btn-main {
    width: 100%;
    padding: 0.5rem;
    background-color: #3a259d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 1.5rem 0;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
}
.btn-main:hover {
    background-color: #241664;
    cursor: pointer;
}
.btn-add {
    background-color: lightgreen;
    margin: 0 auto;
    padding: 0.3rem;
    display: block;
    border-radius: 5px;
    width: 150px;
}
.btn-add svg, .btn-delete svg {
    margin-right: 0.3rem;
}
.btn-add:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

/* GeneralInfo component */
#full-name {
    font-size: 1.9rem;
    border: none;
    margin: 0.8rem 0 0;
}
#profession {
    font-size: 1.3rem;
    margin: 0 0 0.8rem;
}

/* Education component */
.flex-section {
    display: flex;
}
@media (max-width: 420px) {
    .flex-section {
        flex-direction: column;
    }
}
.flex-section h3 {
    margin: 0;
}
.dates {
    width: 150px;
    flex-shrink: 0;
    margin: 0 1.5rem 0 0;
    line-height: 1.7;
    font-weight: bold;
}
@media (max-width: 420px) {
    .dates {
        width: 100%;
        margin-right: 0;
    }
}
.btn-delete {
    color: white;
    background-color: #c6070f;
    display: block;
    margin-left: auto;
    border-radius: 5px;
}
.btn-delete:hover {
    background-color: red;
    cursor: pointer;
}

/* Profession component */
#responsibilities {
    white-space: pre-line;
    margin-top: 0;
    font-size: 0.95rem;
}
#responsibilities-header {
    margin: 0.4rem 0 0.1rem;
    font-style: italic;
}

/* Footer component */
footer > p {
    margin: 0;
    padding: 0.1rem 0 0.1rem var(--padding);
    box-shadow: 0 -3px 2px grey;
    background-color: whitesmoke;
}